@use "_variables" as *;

@media screen and(min-width:$desktop-width) {
  html {
    font-size: $base-font-size;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1em;
    letter-spacing: -0.01em;
  }

  h3 {
    letter-spacing: -0.03em;
  }

  .button {
    font-size: 1rem;
  }

  .component-container {
    width: 635px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    > *:not(:first-child) {
      flex: 0 0 50%;
      // background: red;
    }
  }

  .box--light {
    padding: 1.2rem 3.2rem 1.1rem 2.5rem;
    margin-bottom: 1.1rem;
  }

  .box--dark,
  .box--darker {
    padding: 1.4rem 2.5rem 2.3rem;
  }

  .box__subtitle {
    font-size: 1.1rem;
    margin-bottom: 0.6em;
  }

  .box__content {
    letter-spacing: 0.01em;
  }

  .box__title--light {
    margin-bottom: 1em;
  }

  .box__price {
    font-size: 2rem;
    margin-bottom: 0.7rem;
  }

  .box__catch {
    margin-bottom: 1.8rem;
  }

  .box__button {
    @extend .button;
  }

  .box__list {
    font-size: 0.85rem;
    line-height: 1.45em;
  }
}
