// Colors

$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

// Typography
$base-font-size: 16px;
$base-font-size-small: 14.7px;
$font-family: "Karla", sans-serif;

%m0p0 {
  margin: 0;
  padding: 0;
}

%reset-list {
  @extend %m0p0;
  text-indent: 0;
  list-style-type: none;
}
